$primaryColor: #ebebdf;
$secondaryColor: #2c38a9;
$secondaryDarkColor: #313864;
$thirdColory: #a6b7f2;
$fourColory: #d7b6ff;

:export {
    whitecolor: $primaryColor;
    blueColor: $secondaryColor;
}
